<%= form_for(restaurant) do |f| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :cuisine %>
    <%= f.select :cuisine, Restaurant::CUISINES %>


  </div>


    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :max_delivery_time %>
      <%= f.text_field :max_delivery_time %>
    </div>

    <div class="field">
      <%= f.label :accepts_10bis %>
      <%= f.label :accepts_10bis, "Yes", :value => "true"  %> <%= f.radio_button :accepts_10bis, true %>
      <%= f.label :accepts_10bis, "No", :value => "false" %> <%= f.radio_button :accepts_10bis, false, :checked => true %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
