<p id="notice"><%= notice %></p>

<%= react_component("Header", props: { text: "hey", collection: @restaurants }, prerender: false) %>
<%= react_component("List", props: {collection: @restaurants}, prerender: false) %>



  <!--<tbody>-->
    <!--<% @restaurants.each do |restaurant| %>-->
      <!--<tr>-->
        <!--<td><%= restaurant.name %></td>-->
        <!--<td><%= restaurant.cuisine %></td>-->
        <!--<td><%= restaurant.rating %></td>-->
        <!--<td><%= restaurant.accepts_10bis %></td>-->
        <!--<td><%= link_to 'Show', restaurant %></td>-->
        <!--<td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>-->
        <!--<td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        <!--<td><%= link_to 'Rate me!', new_restaurant_review_path(restaurant) %></td>-->
        <!--<td><%= link_to 'View reviews table', restaurant_reviews_path(restaurant) %></td>-->
      <!--</tr>-->
    <!--<% end %>-->
  <!--</tbody>-->
<!--</table>-->

<br>


<%= link_to 'New Restaurant', new_restaurant_path %>
