<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @review.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

 <%= link_to 'Edit', edit_restaurant_review_path(@restaurant, @review) %>
 <%= link_to 'Back', restaurant_reviews_url %>
